<div class="container">
    <div class="message-list" #messageList>
        <div *ngFor="let message of messages; let last = last" [@fadeIn]>
            <div *ngIf="message.sender === 'user'" class="sent">
                <div class="message-content">
                    <div class="message-text">{{ message.text }}</div>
                </div>
                <div class="message-bottom-container">
                    <div class="add-to-dashboard-container">
                        <i class="fa-solid fa-bookmark"></i>
                        <span>Add to Dashboard</span>
                    </div>
                    <div class="message-timestamp">{{ formatDateString(message.timestamp) }}</div>
                </div>
            </div>

            <div *ngIf="message.sender === 'bot'&& message.type === 'message'" class="bot-message">
                <app-bar-chart *ngIf="message.chatResponse" [chatResponse]="message.chatResponse"
                    class="chart"></app-bar-chart>

                <markdown prism class="markdown-body" [data]="message.text"></markdown>
                <div class="message-timestamp">{{ formatDateString(message.timestamp) }}</div>

            </div>

            <div *ngIf="message.sender === 'bot' && message.type === 'think'" class="bot-message think-message">
                <div class="think-text">{{ message.text }}</div>
            </div>

            <div *ngIf="last" #bottomAnchor></div>
        </div>
    </div>
    <div class="input-container">
        <div class="input-container">
            <input [placeholder]="placeholder" matInput type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>