.container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.message-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}




.sent {
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 24px 24px 0 24px;
    color: white;
    max-width: 60%;
    min-width: 300px;
    justify-self: end;
    background-color: #403177;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.message-bottom-container {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    margin-top: 1em;
}

.add-to-dashboard-container {
    /* padding: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #00000054; */
    transition-duration: 300ms;
}


.add-to-dashboard-container:hover {
    margin-top: 0.5em;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #00000054;
}

.add-to-dashboard-container span {
    font-size: 0px;
    opacity: 0;
    color: #ccc;
    margin-left: 8px;
    cursor: pointer;
    margin-right: 8px;
    transition-duration: 300ms;
}

.add-to-dashboard-container:hover span {
    font-size: 12px;
    opacity: 1;
    color: #ccc;
    margin-left: 8px;
    cursor: pointer;
    margin-right: 8px;
}

.add-to-dashboard-container i {
    font-size: 18px;
    color: #ccc;
    margin-left: 8px;
    transition-duration: 300ms;
}

.add-to-dashboard-container:hover i {
    font-size: 12px;
}

.message-content {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bot-message {
    align-self: stretch;
    border-radius: 12px;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.think-message {
    color: #0000007e;
}

.bot-message markdown {
    background-color: transparent;
}

.message-timestamp {
    margin-top: 1em;
    font-size: 10px;
    color: #ccc;
    /*aligin to right*/
    align-self: end;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.input-container-inner {
    flex-grow: 1;
    padding-left: 24px;
    border: none;
    max-width: 70%;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.input-container-inner input {
    flex-grow: 1;
    height: 60px;
    border-radius: 30px;
    outline: none;
    border: none;
}

.input-container-inner input:focus {
    outline: none;
    border: none;
}

.icon-container {
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    font-size: 20px;
    color: white;
}

.chart {
    margin: 2em;
    width: 100%;
    height: 100%;
    max-width: 60%;
    max-height: 400px;
    min-width: 60%;
    min-height: 400px;
}